@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.snow-white');
  color: theme('colors.pine-green');
  background-image: url('/snowflakes.png');
  background-repeat: repeat;
  background-size: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer components {
  .btn-primary {
    @apply bg-christmas-red text-snow-white py-1 px-3 rounded hover:bg-cranberry transition-colors text-sm sm:text-base;
  }
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
  }
}

@media (max-width: 640px) {
  body {
    background-size: 150px;
  }
}

